:root {
    --ff-main: 'Heebo', sans-serif;
    --fs-small: 0.8rem;
    --fs-medium: 1rem;
    --fs-between: 1.7rem;
    --fs-Large: 2rem;
    --fw-100: 100;
    --fw-300: 300;
    --fw-500: 500;
    --fw-700: 700;
    --clr-primary: #020253;
    --clr-seconde: white;
}

* {
    font-family: var(--ff-main);
}

html,
body,
h1,
p {
    margin: 0;
    padding: 0;
}

.mainContent {
    display: flex;
    flex-direction: row-reverse;
}

.photoSide {
    width: 50%;
}

img {
    width: 100%;
}

.contactSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 10px;
}

h1 {
    color: var(--clr-primary);
    font-size: var(--fs-Large);
    font-weight: var(--fw-700);
}

p {
    font-weight: var(--fw-500);
}

.btnAria {
    margin-top: 1rem;
}

.btnSubmit {
    width: 130px;
    min-height: 40px;
    background-color: var(--clr-primary);
    color: var(--clr-seconde);
    font-size: medium;
    font-weight: var(--fw-700);
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btnSubmit:hover {
    background-color: #1d1d8b;
}

form {
    display: flex;
    flex-direction: column;


}

input {
    border: none;
    border-bottom: 3.5px solid var(--clr-primary);
    background-color: rgba(197, 197, 197, 0.168);
    min-height: 2rem;
    max-width: 400px;

}

input:focus {
    outline: none !important;
}

label {
    font-size: var(--fs-small);
    font-weight: var(--fw-500);
    margin-top: 10px;
}


/* /////////////media query//////////// */

@media (max-width:450px) {
    .mainContent {
        text-align: center;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactSide {
        width: 100%;
    }

    .content {

        width: 100%;
        margin: 0;
        max-height: 50%;
    }

    h1 {
        font-size: var(--fs-between);
    }

    form {
        align-items: center;
    }

    input {
        width: 80%;
    }


    .photoSide {
        width: 100%;
    }

    .btnSubmit {
        width: 315px;
    }
}